<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head"></head>
  <body>
    <nav th:replace="/fragments/nav :: nav-admin"></nav>
    <div class="container">
      <h1 class="display-3">Add a Page</h1>
      <a href="/admin/pages" class="btn btn-warning btn-sm mb-5">Back to Listing</a>
      <form method="post" th:object="${page}" th:action="@{/admin/pages/add}">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
          There are errors in your form submission.
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" th:field="*{title}" placeholder="Title" id="title" />
          <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>
        <div class="form-group">
          <label for="slug">Slug</label>
          <input type="text" class="form-control" th:field="*{slug}" placeholder="Slug" id="slug" />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea rows="10" class="form-control" th:field="*{content}" placeholder="Content" id="content"></textarea>
          <span class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </div>
        <button class="btn btn-danger mb-5">Add</button>
      </form>
    </div>
    <footer th:replace="/fragments/footer"></footer>
  </body>
</html>
